<h1>Edit Job Offer</h1>
<% form_for(@job_offer, "/job_offers/update/#{@job_offer.id}") do |f| %>
	<%= f.label :title %>
 	<%= f.text_field :title %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br/>
  <%= f.submit "Save", :class => "btn btn-primary" %>
<% end %>